{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle tâche</h1>
    
    {{ form_start(taskForm) }}
        {{ form_row(taskForm.title, {
            label: 'Titre : ' 
        }) }}
        {{ form_row(taskForm.content, {
            label: 'Contenu : ' 
        }) }}
        {{ form_row(taskForm.created_at, {
            label: 'Date de création : ' 
        }) }}
        {{ form_row(taskForm.updated_at, {
            label: 'Date de modification : ' 
        }) }}
        {{ form_row(taskForm.completed_at, {
            label: 'Date de complétion : ' 
        }) }}
        {{ form_row(taskForm.users, {
            label: 'Assigné à : '
        }) }}
        {{ form_row(taskForm.status, {
            label: 'Statut : ' 
        }) }}

        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(taskForm) }}

{% endblock %}

