{% extends 'base.html.twig' %}

{% block title %}Trello{% endblock %}

{% block body %}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #DDD;
        text-align: left;
        padding: 8px;
    }

    {# tr:nth-child(even) {
        background-color: #dddddd;
    } #}

    tr:hover {background-color: #f0f9ff;}
    
</style>

<a href="/logout">Se déconnecter</a>

<h1>Bienvenue sur Trello Like</h1>

<h4>Pour ajouter une tâche, cliquez <a href="/task">ici</a>.</h4>

{# TO-DO: ajouter colonnes "Statut" et "Utilisateur(s)" #}

<table>

	<tr>
		<th>ID</th>
		<th>Titre</th>
		<th>Contenu</th>
        <th>Date de création</th>
        <th>Date de modification</th>
        <th>Date de fin prévue</th>
        {# <th>Statut</th> #}
        {# <th>Utilisateur(s)</th> #}
	</tr>

    {% for task in task %}

		<tr>
		    <td>{{ task.id }}</td>
			<td>{{ task.title }}</td>
			<td>{{ task.content }}</td>
            <td>{{ task.createdAt|date("d/m/Y") }}</td>
            <td>{{ task.updatedAt|date("d/m/Y") }}</td>
            <td>{{ task.completedAt|date("d/m/Y") }}</td>

		</tr>

    {% endfor %}

	</table>

{% endblock %}
